# Summer Analytics 2020 - Basic Data Analysis

- #### Welcome to your second assignment, on basic data analysis!
- #### This Assignment is ungraded

### 1) Import Pandas and Numpy

In [1]:
import numpy as np
import pandas as pd

### 2) Import the dataset and  Assign it to a variable called Chipo

#### Import the dataset from this url 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
#### REMEMBER: It is a .tsv file , you will have to do some research on how to read .tsv files first!

In [4]:
df=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')
print(df)

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                 ...        ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[4622 rows x 5 columns]

### 3) See the first 10 entries

In [5]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### 4) What is the number of observations in the dataset?

In [6]:
len(df)

4622

### 5) What is the number of columns in the dataset?

In [7]:
len(df.columns)

5

### 6) Print the name of all the columns.

In [8]:
for i in df.columns:
    print(i)

order_id
quantity
item_name
choice_description
item_price

### 7) Which was the most-ordered item?

In [10]:
df['item_name'].describe().top

'Chicken Bowl'

### 8) For the most-ordered item, how many items were ordered?

In [11]:
len(df[df.item_name.str.contains('Chicken Bowl')])

726

### 9) What was the most ordered item in the choice_description column?

In [14]:
df.choice_description.value_counts().head(1)

[Diet Coke]    134
Name: choice_description, dtype: int64

### 10) How many items were ordered in total?

In [31]:
df['quantity'].sum()

4972

### 11) Turn the item price into a float

In [20]:
#df.item_price.str.replace('$','')
#df['item_price']=df.item_price.astype(float)
df.dtypes
df['item_price']=df['item_price'].str.replace('$','')
df['item_price']=df.item_price.astype(float)
print(df.dtypes)

AttributeError: Can only use .str accessor with string values!

### 12) How much was the revenue for the period in the dataset?
#### Revenue will be the sum of quantity * item_price!

In [21]:
df.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [26]:
sum1=0
for r in df.iterrows():
    #print(r[1].quantity)
    #print(r[1].item_price)
    sum1=sum1+(r[1].quantity * r[1].item_price)
print(sum1)

39237.020000000055

### 13) How many orders were made in the period?

In [27]:
n=df.order_id.nunique()
print(n)

1834

### 14) What is the average revenue amount per order?

In [29]:
print(sum1/n)

21.3942311886587

### 15) How many different items are sold?

In [43]:
len(df.groupby('item_name'))

50